[Unit]
Description=Run QuantLab System Dashboard Status Export Every Minute

[Timer]
OnCalendar=*:0/1
AccuracySec=10s
Persistent=true
Unit=quantlab-system-dashboard.service

[Install]
WantedBy=timers.target
